<div class="container__small-card">
    <img src="https://scontent.fcgh71-1.fna.fbcdn.net/v/t39.30808-6/653704964_924730286828747_2686557077691171937_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=13d280&_nc_ohc=j3bX7gH-1agQ7kNvwF2ElVZ&_nc_oc=Ado_1CXG9G0ojG6mwAZndmXPgBItnc_X2e22VCWr28JqDoTeMhyCtMddcsFIllVVaTVKCSzCBKQ9MFNOz9kkQNz7&_nc_zt=23&_nc_ht=scontent.fcgh71-1.fna&_nc_gid=XNJZhASFLhO6y4TDD-28EA&_nc_ss=7a3a8&oh=00_Af3rBYKlqQ1p81zY-zVM3bRkNcUkWq2rktMeDj075Pa1sw&oe=69DC60FF" alt="" class="small-card__img">
    <div class="small-card__description">
        <span class="author">Lorem ipsum dolor</span>
        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa aperiam eos voluptate expedita nobis, et culpa aspernatur!</p>
    </div>
</div>