.container__content{
    display: flex;
    padding: 2rem;
    flex-direction: column;
}
.content__img{
    width: 70%;
    margin: 1rem auto;
}

.content__text{
    width: 80%;
    margin: 1rem auto;
}

.content__title{
    text-align: center;
}