.container__menu-bar{
    display: flex;
    padding: 1rem;
}
.navbar{
    display: flex;
    list-style: none;
    align-items: center;
    justify-items: flex-end;
    margin-left: auto;
}
.menu-bar__link{
    text-decoration: none;
    border-left: 1px solid white;
    padding: .5rem;
    font-size: 1.15rem;
}
.icon{
    max-width: 100px;
}
