<nav class="container__menu-bar">
    <img src="https://imgs.search.brave.com/if_uc1Xiof_rK92fofRD1mr6Db1Q0URKCiEiKoN0KA8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wMDUv/NjkzLzMwOC9zbWFs/bC9zaW1wbGUtMy1n/ZWFyLW9yLWNvZy1p/Y29uLXN5bWJvbGl6/ZS1zZXR0aW5nLWFu/ZC10ZWFtLXdvcmst/ZnJlZS12ZWN0b3Iu/anBn" alt="" class="icon">
    <ul class="navbar">
        <li><a class="menu-bar__link" href="#">Home</a></li>
        <li><a class="menu-bar__link" href="#">Linkedin</a></li>
        <li><a class="menu-bar__link" href="#">Github</a></li>
    </ul>
</nav>